commit.sh
/tacOS/airootfs/etc/skel/.flavour/icons/abyss_envy_suru.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/abyss_envy_suru_glow.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/buuf_nestort.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/mint_x_absence_of_blue.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/obsidian_mint_extended_set.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/punk_gamma_suru.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/punk_ozone_suru.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/punk_pain_suru.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/punk_sweet_suru.tar.gz
/tacOS/airootfs/etc/skel/.flavour/icons/ultimate_edition_dark_glass.tar.gz
/tacOS/airootfs/etc/skel/.flavour/themes/material_black_lime.tar.gz
