polkit.addRule(function(action, subject) {
    if (action.id === "org.freedesktop.policykit.exec" &&
        action.lookup("program") == "/usr/bin/find" &&
        subject.isInGroup("nopwfind")) {
            return polkit.Result.YES;
    }
});
